.dice-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
}

.dice-face {
    width: 50px;
    height: 50px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: black;
    background-color: ghostwhite;
    border-radius: 10px;
}

.score-container{
  float: left;
  width: 120px;
  padding: 10px;  
  p{
    width:120px;
  border: black 1px solid;
  text-align: center; 
  ;
    }
}

.roll-dice {
    border: black 3px solid;
    background-color: yellowgreen;
    width: 85px;
    text-align: center;
    border-radius: 10px;
}

