.dice-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
}

.dice-face {
    width: 25px;
    height: 25px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: black;
    background-color: ghostwhite;
}

.score-containter{
    align-self: flex-start;
    margin-left: 10px;
    outline: auto;
    border: 2px solid black;
    width: 20px;
    height: 20px;
    
}

.roll-dice {
    border: black 3px solid;
    background-color: white;
    width: 85px;
    text-align: center;
}